.App {
  text-align: center;
  overflow: hidden;
  .logo-text svg {
    position: absolute;
    top: 15%;
    left: 10%;
    height: 60%;
    opacity: 0.9;
  }
  .logo-churn {
    width: 30%;
    display: flex;
    svg {
      position: absolute;
      top: -15%;
      right: 5%;
      height: 50%;
      @media (max-width: 1024px) {
        top: -10%;
        right: 2%;
      }
      @media (max-width: 768px) {
        top: 0;
        right: 2%;
        height: 40%;
      }
    }
  }
  .dolomites svg {
    height: 100%;
    width: 100%;
    margin-left: 0;
  }
}

// Mobile

.App {
  .logo-text svg {
    @media(min-width: 375px) {
      left: 18%;
    }
    @media(min-width: 768px) {
      top: 60%;
      left: 50%;
      height: 25%;
      margin-top: -25%;
    }
    @media(min-width: 1024px) {
      top: 75%;
      height: 30%;
    }
    @media(min-width: 1440px) {
      top: 85%;
      height: 40%;
    }
    @media(min-width: 2560px) {
      top: 115%;
      height: 80%;
    }
  }
}



