.App {
  text-align: center;
  overflow: hidden;
  .Content {
    padding: 5px;
  }
  .logo svg {
    position: absolute;
    top: 15%;
    left: 25%;
    height: 60%;
    opacity: 0.9;
  }
}

// Mobile

.App {
  .logo svg {
    @media(min-width: 375px) {
      left: 29%;
    }
    @media(min-width: 768px) {
      top: 55%;
      left: 65%;
      height: 50%;
      margin-top: -25%;
    }
    @media(min-width: 1024px) {
      top: 65%;
    }
    @media(min-width: 1440px) {
      top: 80%;
      height: 60%;
    }
    @media(min-width: 2560px) {
      top: 115%;
      height: 80%;
    }
  }
}



